body {
    background: #4f4f4f;
}

.create {
    width: 520px;
    height: 604px;
    background: white;
    margin: auto;
    border-radius: 5px;
}

.body img {
    display: block;
    max-width: 500px;
    max-height: 500px;
    width: auto;
    height: auto;
    border-radius: 5px;
}

#download_btn {
    margin: 10px auto;
}
