{% extends 'convert/base.html' %}
{% load staticfiles %}

{% block title %}Download Image{% endblock %}

{% block optional_css %}<link rel="stylesheet" type="text/css" href="{% static 'convert/download_style.css' %}">{% endblock %}

{% block headerURL %}{% url 'gallery:user' %}{% endblock %}

{% block Log %}

    <li><a href="{% url 'gallery:logout_user' %}">Log Out</a></li>

{% endblock %}

{% block body%}

    <div class="row">
        <div class="col-md-3">
            <h1 style="text-align: center; font-size: 40px; color: white;">Download</h1>
        </div>
    </div>

    <div class="row">

        <div class="create">

            <div class="head">
                <h3 style="padding: 5px; margin-left: 10px;">{{ session.session_name }}</h3>
            </div>

            <div class="body" align="center">


                {% with 'convert/output/'|add:session.output_image_title as image_static %}
                    <img src= {% static image_static %}>
                {% endwith %}



                {% with 'convert/output/'|add:session.output_image_title as image_static %}
                    <a class="btn btn-success" id="download_btn" href={% static image_static %} download>Download</a>
                {% endwith %}


            </div>

        </div>
    </div>

{% endblock %}
